<br>
<p>
  Seleccione actividad
</p>
<br>
<button type="button" class="btn btn-primary" *ngIf="usuarioService.usuario.Perfil=='Administrador'" routerLink="/alta-materia">Alta de Materia</button>
<br>
<br>
<button type="button" class="btn btn-primary" *ngIf="usuarioService.usuario.Perfil=='Administrador'" routerLink="/listado-materia">Listado Materias</button>
<br>
<br>
<button type="button" class="btn btn-primary" *ngIf="usuarioService.usuario.Perfil=='Administrador'" routerLink="/listado-usuarios">Listado Usuarios</button>
<br>
<br>
<button type="button" class="btn btn-primary" *ngIf="usuarioService.usuario.Perfil=='Alumno'" routerLink="/insc-materia">Inscripción Materias</button>
<br>
<br>
<button type="button" class="btn btn-primary" *ngIf="usuarioService.usuario.Perfil=='Alumno'" routerLink="/listado-insc">Mis Materias</button>
<br>
<br>
<button type="button" class="btn btn-primary" *ngIf="usuarioService.usuario.Perfil=='Profesor'" routerLink="/listado-asig">Mis Materias</button>
<br>