<br>
<p>
  Seleccione actividad
</p>
<br>
<button type="button" class="btn btn-primary" *ngIf="usuarioService.usuario.Perfil=='Administrador'" routerLink="/alta-materia">Alta de Materia</button>
<br>
<br>
<button type="button" class="btn btn-primary" *ngIf="usuarioService.usuario.Perfil=='Administrador'" routerLink="/alta-materia">Listado Materias</button>
<br>
<br>
<button type="button" class="btn btn-primary" *ngIf="usuarioService.usuario.Perfil=='Administrador'">Listado Usuarios</button>
<br>
<br>