<br>
<p>
  Seleccione actividad
</p>
<br>
<button type="button" class="btn btn-primary">Alta de Mascota</button>
<br>
<br>
<button type="button" class="btn btn-primary">Modificar Mascota</button>
<br>
<br>
<button type="button" class="btn btn-primary">Listado Macotas</button>
<br>
<br>

<button type="button" class="btn btn-primary" *ngIf="usuarioService.usuario.Perfil=='Administrador'">Listado de Turnos</button>
<br>

<br>
<button type="button" class="btn btn-primary">Ver Mascotas</button>
<br>
<br>
<button type="button" class="btn btn-primary" *ngIf="usuarioService.usuario.Perfil=='Cliente'">Solicitar Turno</button>
