<!-- <footer class="footer text-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Brian Pariz en la Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/BrianPariz" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1"
                    href="https://steamcommunity.com/profiles/76561198110052261/" target="_blank">
                    <i class="fa fa-steam"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1"
                    href="https://www.linkedin.com/in/brian-pariz-585643143/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>

            <div class="col-lg-6">
                <h4 class="text-uppercase mb-4">Acerca de Sala de Juego</h4>
                <p class="lead mb-0">Sala de Juegos es una página de juegos a la que cualquier persona puede acceder,
                    creada por la <a class="color_primary" href="http://www.fra.utn.edu.ar/" target="_blank">UTNFra</a>
                    y mejorada por
                    <a class="color_primary" href="https://saladejuegos-brianpariz.000webhostapp.com/QuienSoy">Brian
                        Pariz</a>.</p>
            </div>
        </div>
    </div>
</footer> -->

<section class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; Sala de Juegos - Brian Pariz 2019</small>
    </div>
</section>