<section class="h-100 registro-pagina">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="brand">
          
        </div>
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Alta de Materia</h4>
            <form>

              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="nombreMateriaModel"
                  #name="ngModel" required>
              </div>

              <div class="form-group">
              <label for="cuatrimestre">Cuatrimestre</label>
              <select class="form-control" name="cuatrimestre" id="cuatrimestre" [(ngModel)]="cuatrimestreModel"
                required>
                <option>1</option>
                <option>2</option>
             </select>
            </div>

            <div class="form-group">
                <label for="cupos">Cupos</label>
                <select class="form-control" name="cupos" id="cupos" [(ngModel)]="cuposModel"
                  required>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
               </select>
              </div>

              <div class="form-group">
                  <label for="Profesor">Profesor</label>
                  <select class="form-control" name="profesor" id="profesor" [(ngModel)]="profesorModel"
                   required>
                    <option *ngFor="let item of profesores">{{item.Nombre}}</option>                    
                 </select>
                </div>


              <!-- *************** -->          
              
              <div class="form-group no-margin">
              
                  <button class="btn btn-primary btn-block" 
                  (click)="cargarMateria()">
                    Alta 
                  </button>
              
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>